p {
    font-size: 1.1em;
    text-align: center;
}
h2 {
    font-size: 3em;
    text-align:center;
}

.border {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}


.center {
    text-align: center;
    
}


/* The actual popup */
 .popup .popuptext {
     visibility: hidden;
     width: 250px;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 8px 0;
     position: absolute;
     z-index: 1;
     bottom: 125%;
     left: 50%;
     
 }
.popup-image-text {
    visibility:hidden;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    background-color: #555;
    color: #fff;
}
/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popup-window, .popup {
    color: blue;
    position: relative;
    display: inline-block;
    z-index: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 

.popup-image {
    border-radius: 6px;
}

.popup-window {
    visibility: hidden;
    position: fixed;
}
/* Toggle this class - hide and show the popup */
.popup .show, .popup-window .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}